.Signupcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
      to left,
      #b0c1c8,
      #ffcab6,
      #af8883,
      #7c8d94,
      #5a6769,
      #555a5a
    );
  }
  .Signupform-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Signupform {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
  }
  
  .Signupform .MuiTextField-root {
    width: 100%; /* Make the text fields cover the whole width */
    margin-bottom: 20px; /* Add some vertical spacing between the text fields */
  }
  
  .Signupimage-section {
    position: relative;
    flex: 1;
    border-radius: 0 8px 8px 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.2)
      ),
      url("https://c0.wallpaperflare.com/preview/246/815/779/4k-wallpaper-clouds-dawn-desktop-background.jpg")
        center/cover;
  }
  
  .Signupimage-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  .Signupform .MuiButton-root {
    margin-top: 20px;
    background-color: #98706b;
    color: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Signupform .MuiButton-root:hover {
    background-color: #2d5b5a;
  }